altgraph==0.17.5
appdirs==1.4.4
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cuda-bindings==13.3.1
cuda-pathfinder==1.5.5
cuda-toolkit==13.0.3.0
# -e git+https://github.com/SuperBypassUdinnn/DeepFilterNet@58b3a101deb832a2c3da19b8051956e2bd4a4874#egg=DeepFilterLib&subdirectory=pyDF
# -e git+https://github.com/SuperBypassUdinnn/DeepFilterNet@58b3a101deb832a2c3da19b8051956e2bd4a4874#egg=DeepFilterNet&subdirectory=DeepFilterNet
filelock==3.29.4
fsspec==2026.4.0
idna==3.18
Jinja2==3.1.6
loguru==0.7.3
MarkupSafe==3.0.3
maturin==1.14.0
mpmath==1.3.0
networkx==3.6.1
numpy==1.26.4
nvidia-cublas==13.1.1.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.20.0.48
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.1
nvidia-nccl-cu13==2.29.7
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
packaging==24.2
psutil==7.2.2
pycparser==3.0
pyinstaller-hooks-contrib==2026.6
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
requests==2.34.2
soundfile==0.12.1
sympy==1.14.0
torch==2.13.0
torchaudio==2.11.0
triton==3.7.1
typing_extensions==4.15.0
urllib3==2.7.0
